/* 全局样式 */
html,
body {
    height: 100%;
    margin: 0;
    /* 移除默认的边距 */
    padding: 0;
    overflow: hidden;
    user-select: none;
    /* 移除默认的内边距 */
}

/* 主体容器样式，确保填满整个视窗 */
.main-container {
    display: flex;
    height: 100vh;
    /* 设置为视窗的高度 */
    margin: 0;
}

/* 按钮和列表容器样式 */
.top-buttons,
.list-container {
    clear: both;
    padding-top: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 保持顶部和底部内容分离 */
    height: 100%;
    /* 充满整个侧边栏高度 */
    box-sizing: border-box;
    background-color: rgba(227, 227, 227, 0.8);
    -webkit-app-region: drag;
    border-right: 1px solid rgb(213, 213, 213);
}

@media (prefers-color-scheme: dark) {
    .left-panel {
        background-color: #303030;
        border-right: 1px solid rgb(0, 0, 0);
    }
}

.icon-container {
    width: 100%;
    align-items: center;
    /* 水平居中对齐图标 */
    justify-content: flex-start;
    /* 从左侧开始排列图标 */
    position: absolute;
    bottom: 1%;
    /* 定位到底部 */
    left: 1%;
    /* 定位到最左边 */
}
.icon-button {
    width: 20px;
    /* 或者你想要的尺寸 */
    height: 20px;
    cursor: pointer;
    transition: filter 0.3s, transform 0.3s; 
    /* 平滑过渡效果 */
    filter: invert(40%);
    -webkit-app-region: no-drag;
    user-select: none;
}

.icon-button:hover {
    filter: invert(70%);
    width:25px;
    height:25px;
    transform: scale(1.25); 
    /* 鼠标悬停时反色 */
}

@media (prefers-color-scheme: dark) {
    .icon-button:hover {
        filter: invert(20%);
    }
}

.input-container label {
    display: inline-block;
    width: 150px;
    /* 正方形尺寸 */
    height: 150px;
    border-radius: 15px;
    background-color: rgba(206, 206, 206, 0.5);
    /* 圆角矩形的初始背景色 */
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
    /* 添加过渡效果 */
    -webkit-app-region: no-drag;
}

@media (prefers-color-scheme: dark) {
    .input-container label {
        box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
        background-color: rgba(112, 112, 112, 0.5);
    }
}

.input-container label:hover {
    background-color: rgba(150, 150, 150, 0.5);
    /* 鼠标悬停时更灰的背景色 */
}

.top-space {
    display: flex;
    flex-direction: column;
    /* 修改为列布局以使内容垂直排列 */
    align-items: flex-start;
    /* 子元素靠左对齐 */
    width: 100%;
    /* 确保占满父容器宽度 */
    align-items: flex-start;
    /* 子元素向左对齐 */
}

.input-button-container {
    display: flex;
    width: 100%;
    /* 容器宽度全占 */
    align-items: flex-start;
    position: relative;
}

.top-panel {
    padding: 20px;
    height: 30vh;
}

.right-panel {
    width: 70%;
    background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    .right-panel {
        background-color: #1b1b1b;
    }
}
/* 设置滚动条的宽度和轨道颜色 */
::-webkit-scrollbar {
    width: 8px;
    /* 或任何您希望的宽度 */
    background-color: transparent;
    /* 滚动条轨道颜色 */
}

/* 设置滚动条滑块的颜色 */
::-webkit-scrollbar-thumb {
    background-color: rgba(64, 64, 64, 0.4);
    /* 滚动条滑块颜色 */
    border-radius: 6px;
    /* 如果需要，可以设置圆角 */
}

/* 设置当鼠标悬停在滚动条滑块上时的颜色 */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(130, 130, 130, 0.4);
    /* 滚动条滑块悬停颜色 */
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(198, 198, 198, 0.4);
    }
}
@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: rgba(134, 134, 134, 0.4);
    }
}
.center-panel {
    position: absolute;
    top:35vh;
    padding: 20px;
    height: calc(1vh + 50%);
    left:30%;
    right:0;
    overflow-y: scroll;
    z-index: 3;
    border-top: 1px solid rgb(213, 213, 213);
    border-bottom: 1px solid rgb(213, 213, 213);
    /* 竖黑线 */
}

@media (prefers-color-scheme: dark) {
    .center-panel {
        border-bottom: 1px solid rgb(50, 50, 50);
        border-top: 1px solid rgb(50, 50, 50);
    }
}
.input-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-container input[type="file"] {
    display: none;
}

.file-input-text {
    width: 110%;
    /* 宽度与矩形相同 */
    text-align: center;
    color: rgb(88, 88, 88);
    margin-top: 10px;
    /* 与矩形间隔一定距离 */
    user-select: none;
    opacity: 0.9;
    /* 防止文本被选中复制 */
    overflow: hidden; /* 隐藏溢出的文本 */
    text-overflow: ellipsis; 
    min-width: 0;
}

@media (prefers-color-scheme: dark) {
    .file-input-text {
        color: #dcdcdc;
        background-color: transparent;
    }
}

#version-text {
    color: #999;
    /* 文本颜色 */
    font-size: 12px;
    /* 字体大小 */
}

@media (prefers-color-scheme: dark) {
    #version-text {
        color: #cbcbcb;
    }
}

#fileInput {
    width: 100%;
    /* 调整输入文件框的宽度 */
    height: 100%;
    padding: 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    font-size: 0px;
    outline: none;
    background: url('icons/upload.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
    appearance: none;
}

#userInput {
    flex: 1;
    /* 输入框占据多余空间 */
    margin-right: 20px;
    /* 右侧间距 */
    width: calc(100% - 20px);
    /* 调整输入框宽度为容器宽度减去右侧间隔 */
    margin-bottom: 10px;
    /* 输入框下方留出间隔 */
    border: none;
    border-radius: 10px;
    background-color: rgba(227, 227, 227, 0.8);
    color: #3f3f3f;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 16px;
    top: 5px;
    /* 距离父元素顶部的距离 */
    left: 5px;
    /* 距离父元素左侧的距离 */
    text-align: left;
    /* 文本左对齐 */
    vertical-align: top;
    outline: none;
    padding: 10px;
    /* 确保有空间显示进度条 */
    resize: none;
    z-index: 2;
    /* 确保输入框在进度条之上 */
}

@media (prefers-color-scheme: dark) {
    #userInput {
        background-color: rgba(54, 54, 54, 0.8);
        box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
        color: #dfdfdf;
    }
}
#center-bar {
    position: absolute;
    /* 使用绝对定位 */
    pointer-events: none;
    left: 30%;
    width: 70%;
    top: 35%;
    /* 紧贴底部 */
    display: flex;
    /* 使用flex布局 */
    flex-direction: column-reverse;
    /* 使文本在进度条上方显示 */
    align-items: center;
    /* 水平居中对齐 */
    justify-content: flex-end;
    /* 将内容对齐到容器的底部 */
    z-index: 5;
    height: 1px;
    /* 进度条高度为2px */
    background-color: rgb(213, 213, 213);
    /* 进度条颜色为蓝色 */
}
@media (prefers-color-scheme: dark) {
    #center-bar {
        background-color: rgb(50, 50, 50);
    }
}
#center-bar-wall {
    position: absolute;
    /* 使用绝对定位 */
    pointer-events: none;
    left: 30%;
    width: 70%;
    top: 33.5%;
    height:3%;
    /* 紧贴底部 */
    display: flex;
    /* 使用flex布局 */
    flex-direction: column-reverse;
    /* 使文本在进度条上方显示 */
    align-items: center;
    /* 水平居中对齐 */
    justify-content: flex-end;
    /* 将内容对齐到容器的底部 */
    z-index: 4;
    /* 进度条高度为2px */
    background-color: rgb(255, 255, 255);
    /* 进度条颜色为蓝色 */
}
@media (prefers-color-scheme: dark) {
    #center-bar-wall {
        background-color: #1b1b1b;
    }
}
.progress-container {
    position: absolute;
    /* 使用绝对定位 */
    pointer-events: none;
    left: 30%;
    width: 70%;
    top: 35vh;
    /* 紧贴底部 */
    height: 2%;
    /* 调整高度以包括文本显示 */
    background-color: transparent;
    /* 背景透明 */
    display: flex;
    /* 使用flex布局 */
    flex-direction: column-reverse;
    /* 使文本在进度条上方显示 */
    align-items:start;
    /* 水平居中对齐 */
    justify-content: flex-end;
    /* 将内容对齐到容器的底部 */
    z-index: 6;
}

.progress-line {
    height: 2px;
    /* 进度条高度为2px */
    background-color: rgb(105, 131, 211);
    /* 进度条颜色为蓝色 */
    width: 0%;
    /* 初始宽度为0 */
    transition: width 0.5s ease-in-out;
    /* 平滑过渡效果 */
}
.progress-bar-error {
    background-color: rgb(211, 105, 105); /* 错误时的红色背景 */
}
#progressPercentage {
    position: absolute;
    /* 使用绝对定位 */
    top: -4vh;
    /* 定位到容器顶部 */
    width: 100%;
    /* 宽度为100% */
    text-align:left;
    /* 文本居中 */
    color: rgb(63, 63, 63);
    /* 文本颜色为黑色 */
    margin-top: 5px;
    transition: opacity 0.5s ease-out;
    /* 为了视觉效果稍微提上一点 */
}
@media (max-height: 650px) {
    #progressPercentage {
        top: -5vh;
    }
}
@media (prefers-color-scheme: dark) {
    #progressPercentage {
        color: #adadad;
    }
}

.button-container {
    flex-shrink: 0;
    /* 防止按钮容器缩小 */
    display: flex;
    /* 使用flex布局 */
    flex-direction: column;
    align-self: flex-end;
    /* 垂直排列按钮 */
    align-items: flex-start;
    /* 按钮左对齐 */
}

.button-container button {
    margin-bottom: 10px;
    /* 按钮之间的间距 */
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #131313;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    user-select: none;
    display: flex; /* 使用flex布局 */
    justify-content: flex-start; /* 使内部文本靠左对齐 */
    width: 100%; /* 确保按钮宽度一致 */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #131313;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    user-select: none;
}

.selected-message {
    background-color: rgba(227, 227, 227, 0.8);
    color: #737373;
    display: flex;
    /* 应用flex布局 */
    justify-content: space-between;
    /* 两端对齐，项目之间的间隔都相等 */
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    user-select: none;
    /* 防止文本被选中复制 */
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏溢出的文本 */
    text-overflow: ellipsis; 
    min-width: 0;
}
.selected-message span {
    flex-grow: 1; /* 让文本占据大部分空间 */
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏溢出的文本 */
    text-overflow: ellipsis; /* 使用省略号 */
    margin-right: 10px; /* 保持与其他内容的间距 */
}
.delete-icon {
    width: 16px;
    /* 设置图标宽度 */
    height: 16px;
    /* 设置图标高度 */
    cursor: pointer;
    opacity: 0;
}

.selected-message:hover .delete-icon {
    opacity: 1;
    /* 当鼠标悬停在 .selected-message 上时，设置子元素的透明度为 1 */
}
.selected-message:hover .message-tips {
    opacity: 1;
    /* 当鼠标悬停在 .selected-message 上时，设置子元素的透明度为 1 */
}

@media (prefers-color-scheme: dark) {

    button,.button-container button,
    .selected-message {
        background-color: #444444;
        color: #b8b8b8;
        box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    }
}

button:hover {
    background-color: #484848;
}

.selected-message:hover {
    background-color: #484848;
    color: #fff;
}

@media (prefers-color-scheme: dark) {

    button:hover,
    .selected-message:hover {
        background-color: #2e2e2e;
        color: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    #progressBar {
        color: #565656;
    }
}

#progressText,
#statusText {
    margin-left: 10px;
    color: #000000;
    transition: opacity 0.5s ease-out;
}

@media (prefers-color-scheme: dark) {

    #progressText,
    #statusText {
        color: #e0e0e0;
    }
}

/* 添加到 style.css 中 */
.main-container {
    display: flex;
}
/* bottom-panel.css */
.bottom-tips {
    position: absolute;
    padding-left: 20px;
    padding-top:59vh;
    background-color: transparent; /* 浅灰色背景 */
    color: #838383;               /* 深色文字 */
    font-size: 12px;           /* 文字大小 */
    margin: 0px;    
    opacity: 1;   
}
/* 当窗口高度低于800像素时应用滚动效果 */
@media (max-height: 650px) {
    .bottom-tips {
        padding-top:57vh;
    }
}
@media (prefers-color-scheme: dark) {
    .bottom-tips {
        color: #c5c5c5;
    }
}